@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { height: 100%; }
  ::selection { background-color: hsl(var(--primary)); color: hsl(var(--primary-foreground)); }
  a { @apply text-primary hover:opacity-90; }
}
